<header class="header">
    <div class="header_inner">
      <nav class="nav">
        <ul class="nav_list">
        <!--リンクをひとつずつ取り出す-->
         {% for link in linklists.main-menu.links %}
          
          <!---リンクの名前をchild＿list＿handleで定義-->
          {% assign child_list_handle = link.title | handleize %}
          <!--リンクのchild_linkが空でなかったら（リンクが下の階層を持っていたら）-->
          {% if linklists[child_list_handle].links != blank %}
          <!--ドロップダウンメニューを出す-->
          <li class="has-child"><!--子要素を持つ li にはhas-childというクラス名をつける-->
            <a href="{{ link.url }}">
              {{link.title}}
            </a>
            <ul>
             <!--下の階層のリンクをひとつずつ取り出す-->
             {% for childlink in linklists[child_list_handle].links %}
             <!--その名前をsublist _handleとして定義する-->
             {% assign sub_list_handle = childlink.title | handleize %}
             <!--sub_list_handleがあったら-->
             {% if linklists[sub_list_handle].links != blank %}
             <!--ドロップダウンメニューを出す-->
             <li>
                <a href="{{ childlink.url }}">
                  {{link.title}}
                </a>
                <ul>
                 <!--sub_list_handleのタイトルをひとつずつ表示-->
                 {% for sublink in linklists[sub_list_handle].links %}
                 <li>
                  <a href="{{sublink.url}}">{{sublink.title}}</a>
                 </li>
                 {% endfor %}

                </ul>
             </li>
             {% else %}
             <li>
              <a href="{{childlink.url}}">{{childlink.title}}</a>
             </li>
             {% endif %}
             {% endfor %}

             
            </ul>
            {% else %}
            <a href="{{% link.url %}}">{{ link.title }}</a>
            {% endif %}
            
          </li>
          {% endfor %}
             
         </ul>
      </nav> <!--Gナビここまで-->
    
    </div>
    <div class="hamburger" id="js-hamburger">
      <span class="hamburger_border hamburger_border_top"></span>
      <span class="hamburger_border hamburger_border_center"></span>
      <span class="hamburger_border hamburger_border_bottom"></span>
    </div>
    <a href="#" class="logo">
      <img src="img/logo.jpeg" alt="">
    </a>
    <ul class="icon-wrap">
      <li><a href="/cart" id="openbtn" class="openbtn"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
    <div class="black_bg" id="js-black-bg"></div>
    
  </header>
